header{
    background-color: violet;
    height: 30px;
}
section{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.text {
background-color: blue;
width: 270px;
height: 30px;
margin: 2px;
color: white;
}
.color{
    background-color: blue;
    color: white;
   text-align: center;
   margin: 0;
   width: 20%;


}
.centre{
    width: 55%;
}
.first{
    width: 20%;
    margin-left: 15px;
}
.img{
    display: flex;
    
    margin: 25px;
}
.taille{
    width: 78%;

}
.tail{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: blue;
    color: white;
    padding: 12px;
}
@media (max-width: 425px) {
    header{
        background-color: red;
    }
    section{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .color{
        width: 80%;
    }
    .first{
        margin-left: -25px;
    }
}